<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
</head>
<body>
    <h1>Prediction Result</h1>

    <h3>Predicted Style By ResNet18: {{ predicted_class_18 }}</h3>
    <h3>Predicted Style By ResNet50: {{ predicted_class_50 }}</h3>

    <img src="{{ image_url }}" alt="Uploaded Image" style="width:300px;">

    <h3>Actual Style: {{ actual_class }}</h3>

    <a href="/">Back to Upload Page</a>
</body>
</html>
